In [ ]:
# 1
import numpy as np
Z = np.zeros(10)
Z[6] = 5
print(Z)

[0. 0. 0. 0. 0. 0. 5. 0. 0. 0.]

In [ ]:
# 2
import numpy as np

a=np.random.random((3,3,3))
print(a)

[[[0.51074483 0.73201882 0.20334921]
  [0.92899904 0.89961672 0.6082592 ]
  [0.23444485 0.05721405 0.02280861]]

 [[0.01244756 0.45204296 0.65221521]
  [0.50993792 0.29814324 0.34736644]
  [0.53379057 0.87036504 0.49382962]]

 [[0.92140171 0.50606558 0.35774148]
  [0.5090802  0.79373934 0.64849139]
  [0.36700441 0.90601516 0.40199112]]]

In [ ]:
# 3
Height = [175, 156, 184, 169, 177, 160, 154]
Weight = [68, 70, 74, 53, 56, 78, 35]

for i in range(len(Height)):
  bmi = (Weight[i] / Height[i] **2) * 10000
  if bmi > 23:
    print(f"Height: {Height[i]}, Weight: {Weight[i]}, BMI: {bmi:.1f}, 체중 상태: 비만")
  elif bmi <= 18:
    print(f"Height: {Height[i]}, Weight: {Weight[i]}, BMI: {bmi:.1f}, 체중 상태: 정상")
  else:
    print(f"Height: {Height[i]}, Weight: {Weight[i]}, BMI: {bmi:.1f}, 체중 상태: 저체중")

Height: 175, Weight: 68, BMI: 22.2, 체중 상태: 저체중
Height: 156, Weight: 70, BMI: 28.8, 체중 상태: 비만
Height: 184, Weight: 74, BMI: 21.9, 체중 상태: 저체중
Height: 169, Weight: 53, BMI: 18.6, 체중 상태: 저체중
Height: 177, Weight: 56, BMI: 17.9, 체중 상태: 정상
Height: 160, Weight: 78, BMI: 30.5, 체중 상태: 비만
Height: 154, Weight: 35, BMI: 14.8, 체중 상태: 정상

In [ ]:
# 4
import pandas as pd
Data = {'age' : [23, 56, 25, 11, 34],
        'name' : ['가연', '영준', '재석', '호동', '미영'],
        'height' : [156, 188, 175, 180, 157]}
Sex = ['female', 'male', 'male', 'female', 'male']

df = pd.DataFrame(Data)
df['Sex'] = Sex

print(df)

   age name  height     Sex
0   23   가연     156  female
1   56   영준     188    male
2   25   재석     175    male
3   11   호동     180  female
4   34   미영     157    male

In [ ]:
import pandas as pd
import numpy as np

n=np.random.randint(0,100,8)

price=n*10
cars=pd.DataFrame({'price':price})
print(cars)

   price
0    360
1    850
2    290
3    620
4    390
5    100
6     30
7    640

In [ ]:
# 6
level = np.where(price <= 300, '저급', np.where(price >= 800, '고급', '중급'))

# 데이터프레임 생성
cars = pd.DataFrame({'Price': price, 'Level': level})

# 데이터프레임 출력
print(cars)

   Price Level
0    460    중급
1    700    중급
2    440    중급
3    990    고급
4    410    중급
5    630    중급
6    200    저급
7    320    중급

In [ ]:
# 7
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()



# 기존 데이터
print("기존 데이터")
irisDf = pd.DataFrame(data = iris.data, columns = iris.feature_names)
irisDf['target'] = iris.target
irisDf['target'] = irisDf['target'].map({0: "setosa", 1: "versicolor", 2: "virginica"})
print(irisDf)



# 결측치 확인
print("결측치 확인")
import pandas as pd
df = pd.DataFrame(iris.data)
print(df.isnull())



# 평균
print(f"평균: {irisDf.mean()}")
# 분산
print(f"분산: {irisDf.var()}")



# 표준화
print("표준화")
from sklearn.preprocessing import StandardScaler

x = iris.data
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
print(x_scaled[:5])



# 정규화
from sklearn.preprocessing import MinMaxScaler
x, y = iris.data, iris.target

sc = MinMaxScaler()
xNorm = sc.fit_transform(x)

print("정규화 데이터")
irisNDf = pd.DataFrame(data = xNorm, columns = iris.feature_names)
irisNDf['target'] = iris.target
irisNDf['target'] = irisNDf['target'].map({0: "setosa", 1: "versicolor", 2: "virginica"})
print(irisNDf)

기존 데이터
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

        target
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]
결측치 확인
         0      1      2      3
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
..     ...    ...    ...    ...
145  False  False  False  False
146  False  False  False  False
147  False  False  False  False
148  False  False  False  False
149  False  False  False  False

[150 rows x 4 columns]
평균: sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64
분산: sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64
표준화
[[-0.90068117  1.01900435 -1.34022653 -1.3154443 ]
 [-1.14301691 -0.13197948 -1.34022653 -1.3154443 ]
 [-1.38535265  0.32841405 -1.39706395 -1.3154443 ]
 [-1.50652052  0.09821729 -1.2833891  -1.3154443 ]
 [-1.02184904  1.24920112 -1.34022653 -1.3154443 ]]
정규화 데이터
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0             0.222222          0.625000           0.067797          0.041667
1             0.166667          0.416667           0.067797          0.041667
2             0.111111          0.500000           0.050847          0.041667
3             0.083333          0.458333           0.084746          0.041667
4             0.194444          0.666667           0.067797          0.041667
..                 ...               ...                ...               ...
145           0.666667          0.416667           0.711864          0.916667
146           0.555556          0.208333           0.677966          0.750000
147           0.611111          0.416667           0.711864          0.791667
148           0.527778          0.583333           0.745763          0.916667
149           0.444444          0.416667           0.694915          0.708333

        target
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]

<ipython-input-1-82292f2190f8>:26: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(f"평균: {irisDf.mean()}")
<ipython-input-1-82292f2190f8>:28: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(f"분산: {irisDf.var()}")

In [ ]:
# 8
import pandas as pd
dfcsv = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/서울교통공사_지하철혼잡도정보_20211231.csv', encoding ='cp949')

# 전체데이터출력
print('-----전체데이터출력-----')
print(dfcsv)

dfcsv = dfcsv.replace({'호선' : 15}, 5)
dfcsv = dfcsv.replace({'호선' : 13}, 2)
dfcsv = dfcsv.replace({'호선' : 14}, 2)

print("-----전체데이터-호선오류수정-----")
print(dfcsv)



# 결측치 확인
print("------결측치 확인------")
print(dfcsv.isnull().sum())

# 연변, ... 삭제
dfall = dfcsv.drop(['연번', '호선','역번호','구분', '조사일자', '역명'], axis=1)

print("-----통계값-----")
# 수치형 데이터의 통계값 추출(개수, 평균, 표준편차, 최솟값, 제 1사분위값, 중앙값, 중위값, 제 3분위값, 최댓값)
print(dfall.describe())



# ——————— 1호선
print("----- 1호선 -----")
df1 = dfcsv[dfcsv['호선']==1]
print(df1)



# 연번, … 삭제
df1 = df1.drop(['연번','호선','역번호','구분', '조사일자', '역명'], axis=1)

# 수치형 데이터의 통계값 추출(개수, 평균, 표준편차, 최솟값, 제 1사분위값, 중앙값, 중위값, 제 3분위값, 최댓값)
print(df1.describe())

-----전체데이터출력-----
        연번 조사일자  호선   역번호   역명  구분  5시30분  6시00분  6시30분  7시00분  ...  19시00분  \
0        1   평일   1   150  서울역  상선    6.2   14.6   13.4   26.8  ...    20.0
1        2   평일   1   150  서울역  하선    9.1    8.6    9.3   15.2  ...    37.5
2        3   평일   1   151   시청  상선    5.4   10.1   13.0   20.8  ...    24.1
3        4   평일   1   151   시청  하선    7.0    6.8   10.2   14.5  ...    33.8
4        5   평일   1   152   종각  상선    5.2   10.8    9.3   13.6  ...    28.8
...    ...  ...  ..   ...  ...  ..    ...    ...    ...    ...  ...     ...
1699  1700  일요일   8  2825   신흥  하선    7.0    3.0    2.2    2.1  ...     4.0
1700  1701  일요일   8  2826   수진  상선    2.4    1.5    3.2    2.2  ...     4.6
1701  1702  일요일   8  2826   수진  하선    9.3    4.1    2.6    2.1  ...     2.6
1702  1703  일요일   8  2827   모란  상선    1.6    0.9    2.5    1.3  ...     4.7
1703  1704  일요일   8  2827   모란  하선    0.0    0.0    0.0    0.0  ...     0.0

      19시30분  20시00분  20시30분  21시00분  21시30분  22시00분  22시30분  23시00분  23시30분
0       15.1    11.1    12.0    12.5    10.1    10.4    16.4     7.8     6.1
1       26.5    25.5    26.4    26.3    21.1    32.1    20.3    12.6    10.3
2       17.4    13.7    14.5    15.8    12.1    14.5    18.3    11.7    11.7
3       22.9    22.0    24.1    23.0    21.0    24.8    18.5    11.8     9.1
4       20.2    19.1    18.7    22.2    16.1    21.8    25.1    16.3    14.8
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
1699     2.6     3.2     2.6     3.7     2.4     2.4     1.6     2.2     1.5
1700     4.1     3.4     4.4     4.2     4.1     3.9     3.8     2.6     1.4
1701     1.9     2.3     1.5     1.8     1.3     1.3     0.9     1.1     0.5
1702     4.2     3.7     4.8     4.1     4.0     4.0     4.2     2.7     1.8
1703     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

[1704 rows x 43 columns]
-----전체데이터-호선오류수정-----
        연번 조사일자  호선   역번호   역명  구분  5시30분  6시00분  6시30분  7시00분  ...  19시00분  \
0        1   평일   1   150  서울역  상선    6.2   14.6   13.4   26.8  ...    20.0
1        2   평일   1   150  서울역  하선    9.1    8.6    9.3   15.2  ...    37.5
2        3   평일   1   151   시청  상선    5.4   10.1   13.0   20.8  ...    24.1
3        4   평일   1   151   시청  하선    7.0    6.8   10.2   14.5  ...    33.8
4        5   평일   1   152   종각  상선    5.2   10.8    9.3   13.6  ...    28.8
...    ...  ...  ..   ...  ...  ..    ...    ...    ...    ...  ...     ...
1699  1700  일요일   8  2825   신흥  하선    7.0    3.0    2.2    2.1  ...     4.0
1700  1701  일요일   8  2826   수진  상선    2.4    1.5    3.2    2.2  ...     4.6
1701  1702  일요일   8  2826   수진  하선    9.3    4.1    2.6    2.1  ...     2.6
1702  1703  일요일   8  2827   모란  상선    1.6    0.9    2.5    1.3  ...     4.7
1703  1704  일요일   8  2827   모란  하선    0.0    0.0    0.0    0.0  ...     0.0

      19시30분  20시00분  20시30분  21시00분  21시30분  22시00분  22시30분  23시00분  23시30분
0       15.1    11.1    12.0    12.5    10.1    10.4    16.4     7.8     6.1
1       26.5    25.5    26.4    26.3    21.1    32.1    20.3    12.6    10.3
2       17.4    13.7    14.5    15.8    12.1    14.5    18.3    11.7    11.7
3       22.9    22.0    24.1    23.0    21.0    24.8    18.5    11.8     9.1
4       20.2    19.1    18.7    22.2    16.1    21.8    25.1    16.3    14.8
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
1699     2.6     3.2     2.6     3.7     2.4     2.4     1.6     2.2     1.5
1700     4.1     3.4     4.4     4.2     4.1     3.9     3.8     2.6     1.4
1701     1.9     2.3     1.5     1.8     1.3     1.3     0.9     1.1     0.5
1702     4.2     3.7     4.8     4.1     4.0     4.0     4.2     2.7     1.8
1703     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

[1704 rows x 43 columns]
------결측치 확인------
연번        0
조사일자      0
호선        0
역번호       0
역명        0
구분        0
5시30분     0
6시00분     0
6시30분     0
7시00분     0
7시30분     0
8시00분     0
8시30분     0
9시00분     0
9시30분     0
10시00분    0
10시30분    0
11시00분    0
11시30분    0
12시00분    0
12시30분    0
13시00분    0
13시30분    0
14시00분    0
14시30분    0
15시00분    0
15시30분    0
16시00분    0
16시30분    0
17시00분    0
17시30분    0
18시00분    0
18시30분    0
19시00분    0
19시30분    0
20시00분    0
20시30분    0
21시00분    0
21시30분    0
22시00분    0
22시30분    0
23시00분    0
23시30분    0
dtype: int64
-----통계값-----
             5시30분        6시00분        6시30분        7시00분        7시30분  \
count  1704.000000  1704.000000  1704.000000  1704.000000  1704.000000
mean     12.829049    12.454460    12.589847    15.340728    19.757512
std      11.507665     8.893017    10.275193    14.774740    19.332359
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       5.600000     6.500000     5.875000     6.275000     7.300000
50%       9.700000    10.300000     9.700000    10.150000    12.650000
75%      16.500000    16.100000    15.925000    18.500000    24.800000
max      89.000000    56.500000    66.800000    93.400000   107.900000

             8시00분        8시30분        9시00분        9시30분       10시00분  ...  \
count  1704.000000  1704.000000  1704.000000  1704.000000  1704.000000  ...
mean     27.309096    24.065669    23.589378    21.722887    20.092371  ...
std      26.940089    22.153565    18.195431    13.804853    11.458290  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%      10.800000    10.800000    11.800000    12.900000    12.475000  ...
50%      17.700000    16.600000    18.300000    18.800000    18.100000  ...
75%      33.025000    28.800000    30.025000    27.625000    26.125000  ...
max     150.800000   149.400000   123.800000    96.600000    64.000000  ...

            19시00분       19시30분       20시00분       20시30분       21시00분  \
count  1704.000000  1704.000000  1704.000000  1704.000000  1704.000000
mean     24.104695    19.591256    18.273768    18.359624    19.310739
std      16.326942    12.262688    11.036071    11.546144    12.532676
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%      13.400000    11.300000    10.300000     9.800000    10.000000
50%      21.400000    17.700000    16.900000    16.400000    17.400000
75%      30.425000    24.900000    24.200000    25.000000    26.100000
max      94.500000    70.400000    61.700000    63.800000    71.900000

            21시30분       22시00분       22시30분       23시00분       23시30분
count  1704.000000  1704.000000  1704.000000  1704.000000  1704.000000
mean     17.816960    19.857570    18.593721    16.009918    10.993310
std      11.869515    14.141485    13.658437    11.925547     9.449757
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       9.200000     9.900000     8.800000     7.300000     4.100000
50%      15.900000    16.850000    14.900000    13.000000     8.700000
75%      24.100000    27.100000    25.825000    22.600000    15.300000
max      78.600000    95.300000    91.800000    79.500000    72.500000

[8 rows x 37 columns]
----- 1호선 -----
        연번 조사일자  호선  역번호    역명  구분  5시30분  6시00분  6시30분  7시00분  ...  19시00분  \
0        1   평일   1  150   서울역  상선    6.2   14.6   13.4   26.8  ...    20.0
1        2   평일   1  150   서울역  하선    9.1    8.6    9.3   15.2  ...    37.5
2        3   평일   1  151    시청  상선    5.4   10.1   13.0   20.8  ...    24.1
3        4   평일   1  151    시청  하선    7.0    6.8   10.2   14.5  ...    33.8
4        5   평일   1  152    종각  상선    5.2   10.8    9.3   13.6  ...    28.8
5        6   평일   1  152    종각  하선    7.8    7.4   10.9   18.7  ...    22.1
6        7   평일   1  153  종로3가  상선    4.8    9.8    9.0   12.9  ...    29.6
7        8   평일   1  153  종로3가  하선    9.1    7.3   14.0   23.3  ...    16.8
8        9   평일   1  154  종로5가  상선    4.3    7.9    7.4    9.9  ...    34.3
9       10   평일   1  154  종로5가  하선   10.8    7.9   16.4   28.4  ...    18.3
10      11   평일   1  155   동대문  상선    5.9    8.0    6.9    9.3  ...    34.4
11      12   평일   1  155   동대문  하선   10.5   11.6   15.0   30.2  ...    13.0
12      13   평일   1  156   신설동  상선    5.3    9.0    5.0    6.7  ...    34.9
13      14   평일   1  156   신설동  하선   17.2   14.4   24.0   30.4  ...    11.3
14      15   평일   1  157   제기동  상선    5.9    7.7    4.5    5.7  ...    36.1
15      16   평일   1  157   제기동  하선   16.6   14.1   21.1   31.5  ...    10.0
16      17   평일   1  158   청량리  상선    5.1    4.0    3.3    4.8  ...    31.8
17      18   평일   1  158   청량리  하선   16.2   13.7   22.5   32.2  ...     8.8
18      19   평일   1  159   동묘앞  상선    5.1   10.1    5.6    7.7  ...    32.5
19      20   평일   1  159   동묘앞  하선   10.2   11.7   16.1   33.0  ...    12.4
568    569  토요일   1  150   서울역  상선    6.8   15.2   12.0   10.9  ...    13.5
569    570  토요일   1  150   서울역  하선    9.4    9.1    6.4    7.4  ...    29.1
570    571  토요일   1  151    시청  상선    8.4   11.8   11.1    9.8  ...    13.4
571    572  토요일   1  151    시청  하선    7.5    8.3    6.7    7.1  ...    27.5
572    573  토요일   1  152    종각  상선    8.2   11.2   10.1    8.8  ...    16.3
573    574  토요일   1  152    종각  하선    7.9    9.5    7.2    7.5  ...    23.4
574    575  토요일   1  153  종로3가  상선    5.4   12.3   10.3    9.7  ...    17.2
575    576  토요일   1  153  종로3가  하선    8.0    8.8    8.8    8.5  ...    18.9
576    577  토요일   1  154  종로5가  상선    5.3   11.3    9.0    8.7  ...    17.7
577    578  토요일   1  154  종로5가  하선   10.4    9.8    9.5    9.2  ...    21.6
578    579  토요일   1  155   동대문  상선    7.2   10.8    9.1    8.9  ...    18.0
579    580  토요일   1  155   동대문  하선   11.6   11.1    8.5    9.7  ...    16.8
580    581  토요일   1  156   신설동  상선    7.8    9.6    8.0    7.3  ...    18.1
581    582  토요일   1  156   신설동  하선   14.0   14.5   10.6   10.9  ...    11.8
582    583  토요일   1  157   제기동  상선    8.0    9.0    6.8    7.3  ...    17.6
583    584  토요일   1  157   제기동  하선   13.0   14.3    9.2   11.5  ...    10.9
584    585  토요일   1  158   청량리  상선    6.8    5.6    3.8    5.5  ...    15.9
585    586  토요일   1  158   청량리  하선   12.8   14.0    8.8   11.3  ...     9.8
586    587  토요일   1  159   동묘앞  상선    7.7   10.6    8.5    7.7  ...    15.4
587    588  토요일   1  159   동묘앞  하선   11.1   10.8    9.2    8.9  ...    16.1
1136  1137  일요일   1  150   서울역  상선    2.4    6.9    6.8    6.1  ...    13.0
1137  1138  일요일   1  150   서울역  하선    3.9    4.6    3.5    4.0  ...    24.2
1138  1139  일요일   1  151    시청  상선    3.5    5.1    6.3    5.6  ...    12.6
1139  1140  일요일   1  151    시청  하선    3.0    4.5    3.7    3.9  ...    22.5
1140  1141  일요일   1  152    종각  상선    3.4    5.0    5.6    5.7  ...    14.2
1141  1142  일요일   1  152    종각  하선    3.5    5.0    4.0    4.1  ...    19.3
1142  1143  일요일   1  153  종로3가  상선    2.8    5.2    5.7    6.0  ...    15.6
1143  1144  일요일   1  153  종로3가  하선    3.5    4.8    4.6    5.1  ...    15.2
1144  1145  일요일   1  154  종로5가  상선    2.8    4.9    5.5    5.9  ...    15.5
1145  1146  일요일   1  154  종로5가  하선    4.6    5.1    5.2    5.6  ...    17.4
1146  1147  일요일   1  155   동대문  상선    3.6    4.8    5.3    5.9  ...    15.5
1147  1148  일요일   1  155   동대문  하선    5.2    5.7    4.5    5.2  ...    14.5
1148  1149  일요일   1  156   신설동  상선    3.4    4.5    4.6    5.1  ...    14.7
1149  1150  일요일   1  156   신설동  하선    6.6    8.0    5.3    6.4  ...    10.8
1150  1151  일요일   1  157   제기동  상선    3.4    4.2    4.2    5.0  ...    14.1
1151  1152  일요일   1  157   제기동  하선    6.3    7.9    4.8    6.8  ...    10.1
1152  1153  일요일   1  158   청량리  상선    3.2    3.8    2.5    4.4  ...    12.8
1153  1154  일요일   1  158   청량리  하선    6.2    8.0    4.5    6.5  ...     9.3
1154  1155  일요일   1  159   동묘앞  상선    3.4    4.7    4.9    5.1  ...    13.2
1155  1156  일요일   1  159   동묘앞  하선    4.9    5.9    4.8    5.3  ...    14.7

      19시30분  20시00분  20시30분  21시00분  21시30분  22시00분  22시30분  23시00분  23시30분
0       15.1    11.1    12.0    12.5    10.1    10.4    16.4     7.8     6.1
1       26.5    25.5    26.4    26.3    21.1    32.1    20.3    12.6    10.3
2       17.4    13.7    14.5    15.8    12.1    14.5    18.3    11.7    11.7
3       22.9    22.0    24.1    23.0    21.0    24.8    18.5    11.8     9.1
4       20.2    19.1    18.7    22.2    16.1    21.8    25.1    16.3    14.8
5       21.2    17.6    19.2    18.2    17.0    21.1    15.1    10.7     7.1
6       22.2    21.0    18.9    26.1    18.3    22.8    29.0    18.2    16.6
7       16.0    12.8    13.2    11.7    10.1    12.9     9.6     6.9     4.9
8       22.8    21.5    21.9    27.8    22.4    20.8    29.8    18.7    16.7
9       13.8    12.2    12.1    10.8     9.6    11.1     7.9     6.7     4.3
10      22.5    25.0    19.2    25.7    24.8    24.2    23.6    19.0    16.7
11      10.4     9.2     8.7     8.9     6.8     8.5     6.6     5.7     3.9
12      20.3    21.5    16.0    27.0    19.7    23.8    26.6    22.7    13.5
13       9.3     8.8     7.2     7.3     6.1     7.3     5.5     5.2     4.3
14      19.9    20.1    16.6    26.0    19.2    22.6    24.6    21.4    12.7
15       8.1     8.0     6.5     6.5     5.5     6.6     4.9     5.7     4.4
16      17.9    18.8    15.0    21.2    17.3    20.0    22.0    19.3    11.1
17       7.7     6.8     5.8     6.1     5.3     5.2     5.1     5.5     4.4
18      21.7    22.8    17.6    24.3    21.0    18.0    27.6    21.9    15.4
19      10.3     8.9     8.3     8.0     6.4     8.2     5.8     5.1     3.8
568     11.7    10.8    10.2    12.9    11.2    10.2    10.7     8.1     4.4
569     24.3    30.2    20.8    27.3    24.0    20.9    17.2    14.9     9.2
570     14.8    12.5    11.8    14.3    13.5    12.4    12.1     8.4    13.4
571     22.2    27.3    19.3    23.7    20.9    19.4    14.4    13.1     7.0
572     17.4    15.8    14.5    18.5    17.4    16.7    15.1    13.0    14.7
573     19.4    21.6    16.3    21.5    18.2    17.0    12.8    12.8     6.4
574     19.0    17.5    16.0    20.3    19.0    18.7    16.6    14.4    16.0
575     16.8    17.3    12.1    15.2    12.4    11.9     8.9     8.4     5.1
576     16.9    16.3    17.9    18.0    22.9    20.2    16.8    14.9    15.6
577     15.2    14.0    11.2    12.2    10.2     8.9     6.9     5.8     4.0
578     17.3    16.6    17.8    18.5    23.9    20.1    17.1    14.9    16.5
579     12.7    11.2     9.0     9.9     7.7     6.8     5.3     5.2     3.6
580     16.1    22.8    13.2    17.4    19.2    26.2    17.9    12.4    15.9
581     11.1     9.3     8.8     8.3     5.8     5.5     5.1     4.1     3.2
582     15.6    22.7    13.4    16.9    19.2    20.3    19.9    12.0    13.6
583     10.4     8.9     8.4     8.0     6.1     4.6     4.7     3.8     3.4
584     14.5    19.3    13.6    13.6    16.8    18.5    18.4    10.9    12.3
585      9.5     7.7     7.6     7.7     5.8     4.4     4.2     4.1     3.5
586     17.1    17.7    14.0    18.9    20.3    18.1    16.0    13.6    16.6
587     11.5    10.2     8.7     9.0     7.1     6.3     5.1     5.2     3.6
1136    10.9    10.7     9.5    11.5    11.2    10.1     9.6     8.0     4.3
1137    19.8    24.8    17.0    19.6    18.7    15.0    11.6     8.7     5.6
1138    13.4    11.6    10.9    12.3    12.4    11.4    10.2     7.9    10.3
1139    17.3    20.8    14.4    15.4    14.3    11.6     8.6     6.4     2.8
1140    14.7    14.9    12.5    14.8    14.5    13.3    11.7     9.5    10.4
1141    15.7    17.2    12.0    13.9    12.0    10.4     7.5     6.2     2.6
1142    15.8    16.8    13.9    16.4    15.5    14.7    12.8    10.4    11.1
1143    13.5    14.1     9.4    11.0     8.8     7.7     5.7     5.0     2.4
1144    14.3    14.8    15.7    15.0    17.4    14.8    13.3    10.5    10.5
1145    11.9    12.7     8.3     9.2     7.5     6.8     4.8     4.6     2.3
1146    14.1    15.0    16.0    15.3    18.0    15.3    13.4    10.8    10.4
1147    10.6    11.1     7.2     8.4     6.5     5.7     4.3     4.5     2.2
1148    13.4    20.9    11.4    14.8    14.2    18.1    12.8     8.9     9.0
1149    10.5     9.9     7.1     7.3     5.1     4.9     4.7     4.0     3.1
1150    13.1    20.0    11.5    13.9    14.1    14.2    14.6     8.3     8.2
1151    10.1     9.8     6.6     7.3     5.4     4.4     4.7     3.9     3.4
1152    11.9    16.7    11.6    11.6    12.9    13.1    12.9     7.5     7.5
1153    10.3     8.7     6.0     7.7     5.2     4.2     4.3     4.1     3.3
1154    14.4    15.9    12.4    16.1    15.2    13.0    12.0     9.7     9.7
1155    11.0    10.3     7.0     7.6     6.0     5.5     4.1     4.4     2.6

[60 rows x 43 columns]
           5시30분      6시00분      6시30분      7시00분      7시30분      8시00분  \
count  60.000000  60.000000  60.000000  60.000000  60.000000  60.000000
mean    7.076667   8.695000   8.446667  10.998333  15.588333  20.673333
std     3.580567   3.259636   4.631999   8.113778  12.901650  17.228621
min     2.400000   3.800000   2.500000   3.900000   4.200000   6.500000
25%     4.525000   5.500000   4.975000   5.700000   7.425000  10.425000
50%     6.250000   8.450000   7.300000   7.700000   9.750000  12.950000
75%     8.575000  10.875000  10.125000  11.350000  16.025000  22.225000
max    17.200000  15.200000  24.000000  33.000000  47.900000  71.800000

           8시30분      9시00분      9시30분     10시00분  ...     19시00분     19시30분  \
count  60.000000  60.000000  60.000000  60.000000  ...  60.000000  60.000000
mean   20.106667  18.330000  19.570000  18.946667  ...  18.978333  15.440000
std    14.428713   9.549395   7.336958   5.312361  ...   7.811619   4.473242
min     6.900000   6.600000   8.300000   7.300000  ...   8.800000   7.700000
25%    11.475000  12.075000  14.650000  15.200000  ...  13.350000  11.650000
50%    14.600000  14.900000  17.700000  18.750000  ...  16.550000  14.950000
75%    20.125000  20.300000  25.600000  21.750000  ...  22.725000  18.175000
max    70.900000  43.500000  38.000000  28.800000  ...  37.500000  26.500000

          20시00분     20시30분     21시00분     21시30분     22시00분     22시30분  \
count  60.000000  60.000000  60.000000  60.000000  60.000000  60.000000
mean   15.880000  13.115000  15.276667  13.773333  13.966667  12.851667
std     5.606225   4.732714   6.284724   5.948362   6.719581   7.113689
min     6.800000   5.800000   6.100000   5.100000   4.200000   4.100000
25%    11.025000   8.950000   9.725000   7.650000   8.075000   5.775000
50%    15.850000  12.450000  14.800000  14.150000  13.200000  12.450000
75%    20.275000  16.075000  19.075000  18.775000  19.550000  17.125000
max    30.200000  26.400000  27.800000  24.800000  32.100000  29.800000

          23시00분     23시30분
count  60.000000  60.000000
mean    9.936667   8.358333
std     5.076766   4.886484
min     3.800000   2.200000
25%     5.650000   3.875000
50%     8.550000   7.300000
75%    12.850000  12.400000
max    22.700000  16.700000

[8 rows x 37 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive